# Copy this file to .env.local and fill in the values

# Public URL for the app (used in GitHub Pages)
REACT_APP_PUBLIC_URL=https://CarlosServin18.github.io/vizdata-landing

# Email configuration
REACT_APP_EMAIL=contacto@vizdata.mx
